body {
  font-family: 'Alata', sans-serif;
  margin: 0;
}

h1, h2 {
  text-align: center;
}

p {
 text-align: justify;
}

.banner {

  width:100%;
  padding:0;
}

.img {
  width:100px;
}

.section {
 border: 1px dotted black;
 padding: 0rem 5rem 0rem 5rem;
 overflow: hidden;
}

iframe {
 position: center;

}

.section-left {
 float: left;
 width: 74%;
}



.section-right {
 
 float: right;
 width: 25%;
 /*how to make the text fit better*/
}
