body {
font-family: 'Alata', sans-serif;

}

.headline {
  background: #f63946;
  color: white;
  height: auto;
  width: 2000px;
 padding: 20px 20px 20px 20px;
 font-size: 30px;
}




.bio {
  background: #a8dadc;
  color: black;
  height: auto;
  width:2000px;
  padding: 20px 20px 20px 20px;
  font-size: 20px;

}

.list {
  background: #f63946;;
  color:white;
  height: auto;
  width: 2000px;
  padding: 20px 20px 20px 20px;
  position: absolute;
  font-size: 20px;


}

#me {
  height: auto;
  width: 500px;
  margin: 0px 500px 50px 5px;
border: 5px dotted white;
}
